@import 'color';

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $text-color;
  background-color: $background;
}

nav a {
  color: #9c5626f3;
  transition: color 0.1s ease-in;

  &:hover {
    color: rgba(197, 134, 51, 0.897) !important;
  }
}

.top-bar, .top-bar ul {
  margin-bottom: 2em;
}

.cookbook-icon {
  max-width: 2.5em;
}